body {
    margin: 0;
    padding: 25px;
}

header {
    padding: 20px;
    text-align: center;
    background: LemonChiffon;
    color: DarkOliveGreen;
    border-radius: 12px 12px 0 0;
}

header h1 {
    font-size: 64px;
}

header p {
    font-size: 24px;
}

nav {
    overflow: hidden;
    background: #333;
    position: sticky;
    top: 0;
    border-radius: 0 0 12px 12px;
}

nav a {
    float: left;
    display: block;
    color: LemonChiffon;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 8px;
}

nav a.right {
    float: right;
}

nav a:hover {
    background: #ddd;
    color: DarkOliveGreen;
}

nav a.active {
    background: #666;
    color: LemonChiffon;
}

.box {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 12px;
    padding: 20px;
    margin: 100px auto; 
    max-width: 800px; 
    max-height: 600px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out; 
}

.box:hover {
    transform: scale(1.2); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}



.section p {
    font-size: 22px;
}

.section h2 {
    font-size: 30px;
}

.sdg11,
.learnmore img {
    max-width: 100%;
    height: auto;
    margin-right: 25px;
    display: block;
    float: left;
    border-radius: 12px;
}

.haha {
    clear: both;
    margin-top: 50px;
    margin-right: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border-radius: 12px;
    overflow: hidden;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background: #f2f2f2;
}

tbody tr:hover {
    background: #f1f1f1;
}

.learnmore img {
    float: left;
    margin-right: 20px;
}

.learnmore p {
    font-size: 22px;
}

.learnmore h2 {
    font-size: 30px;
}

footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 30px;
    border-radius: 12px;
}

.animation-container {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-color: #111;
}

.sprite {
    background: url('image.png') no-repeat;
    width: 150px;
    height: 100px;
    position: absolute;
    top: 25%;
    animation: floatRight 5s linear infinite, playFrames 1s steps(6) infinite;
}

@keyframes floatRight {
    from {
        left: 50px;
    }
    to {
        left: 100%;
    }
}

@keyframes playFrames {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -900px;
    }
}



